body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.wrapper {
    width: 100%;
    min-width: 600px;
}



/*div {
    border: 1px solid black;
}




/* Middle
-----------------------------------------------------------------------------*/
.middle {
    width: 100%;
    position: relative;
}

.middle:after {
    display: table;
    clear: both;
    content: '';
}

.container {
    width: 100%;
    float: left;
    overflow: hidden;
}

.content {
    padding: 0 0 0 370px;
}



/*--------------------------------*/
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-bottom: double;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.contentNav {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

/*--------------------------------*/
input#selectClass {
    border: 0 none;
    color: #4a4a4a;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px 2px;
    background: #CECECE;
    overflow: hidden;
    box-shadow: 1px 1px 11px #330033;
    margin: 5px;
}

input#selectClass:focus {
    box-shadow: 0 0 0 var(--focus);
}

div#coords {
    margin-top: 10px;
    width: 60%;
    height: 400px;
    overflow-y: scroll;
    cursor: pointer;
}

li.rectanglelist {
    padding: 10px;
    background-color: #fffed6;
    border: 1px solid black;
}


li.imagelist {
    cursor: pointer;
}

li.imagelist:hover {
    cursor: pointer;
    background-color: #ffff006b;
}

li.hasCoords {
    color: #018400d4;
}

li.needsCoords {
    font-weight: bold;
    color: #038602;
}

li.active {
    background-color: #ffff00;
}

.canvasarea_name {
    background-color: #ffff006b;
    padding: 10px
}

#checkName {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;

}



/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
    float: left;
    width: 350px;
    margin-left: -100%;
    position: relative;
}


div.left-rail {
    min-width: 350px;
    max-width: 450px;
}

div#image_list {
    /*overflow: auto;*/
    overflow-y: scroll;
    overflow-x: scroll;
    margin-top: 20px;
    max-width: 600px;
    min-height: 200px;
    max-height: 400px;
    background-color: #cecece;
}

div.imglist-nav {
    /*overflow: auto;*/
    max-width: 600px;
    margin-right: 10px;
    margin-left: 10px;
}

div.next_img {
    float: right;
}

div.prev_img {
    float: left;
}




/* Progress bar upload
-----------------------------------------------------------------------------*/
#progress-wrp {
    width: 400px;
    border: 1px solid #0099CC;
    padding: 1px;
    position: relative;
    height: 30px;
    border-radius: 3px;
    margin: 10px;
    text-align: left;
    background: #fff;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
}

#progress-wrp .progress-bar {
    height: 100%;
    border-radius: 3px;
    background-color: #f39ac7;
    width: 0;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
}

#progress-wrp .status {
    top: 3px;
    left: 50%;
    position: absolute;
    display: inline-block;
    color: #000000;
}

/* Progress bar draw complete
-----------------------------------------------------------------------------*/
div#progress {
    width: 100%;
    position: relative;
    margin: 50px auto;
    text-align: center;
}

progress#upload-status {
    display: none;
}

progress {
    width: 90%;
    display: block;
    /* default: inline-block */
    margin: 0 auto;
    padding: 3px;
    border: 0 none;
    background: #444;
    border-radius: 14px;
    text-align: center;
}

progress:after {
    content: attr(data-label);
    position: absolute;
    text-align: center;
    line-height: 25px;
    /* line-height should be equal to bar height */
    overflow: hidden;
    color: #fff;
    right: 0;
    left: 0;
    top: 0;
}

progress::-moz-progress-bar {
    border-radius: 12px;
    background: orange;

}

/* webkit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    progress {
        height: 25px;
    }
}

progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    border-radius: 12px;
    background: orange;
}



div.instruction {
    position: relative;
    font-size: .6em;
}


div#projects,
div#uploads {
    position: relative;
    font-size: 1em;
    /*border: 1px solid black;*/
    padding: 10px;
}

select#project_select {
    border: 0 none;
    color: #4a4a4a;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px 2px;
    background: #CECECE;
    overflow: hidden;
    box-shadow: 1px 1px 11px #330033;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    height: 100px;
}









/* Messages
-----------------------------------------------------------------------------*/
.alert {
    padding: 20px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
}

.warn {
    padding: 20px;
    background-color: #E89601;
    color: white;
    margin-bottom: 15px;
}

.message {
    padding: 20px;
    background-color: #1E981D;
    color: white;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}




/* General
-----------------------------------------------------------------------------*/
input.button_text,
#img_files {
    box-shadow: inset 0px -3px 7px 0px #29bbff;
    background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    background-color: #2dabf9;
    border-radius: 3px;
    border: 1px solid #0b0e07;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 9px 23px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
}


input.button_text:hover {
    background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    background-color: #0688fa;
}

input.button_text:active {
    position: relative;
    top: 1px;
}